.conteudo {
    width: 500px;
    position: relative;
    height: 300px;
    border-top: 15px solid black;
    border-left: 10px solid black;
    border-bottom: 20px solid #5F9EA0;
    border-right: 20px solid #5F9EA0;
}

img {
    position: absolute;
    top: 10px;
    left: 20px;
    border: 2px solid #5F9EA0;
    border-radius: 50%;
}

.texto {
    position: absolute;
    top: 40px;
    left: 180px;
    width: 300px;
    text-align: justify;
    font-size: 10pt;
    font-family: verdana;
    background-color: aliceblue;
}

.titulo {
    position: absolute;
    top: 10px;
    left: 180px;
    font-size: 14pt;
    font-family: verdana;
    font-weight: bold;
    padding: 2px;
    border: 1px solid black;
    background-color: aquamarine;
}

.legenda {
    position: absolute;
    top: 205px;
    left: 40px;
    font-size: 11pt;
    font-family: times;
    font-style: italic;
    background-color: ghostwhite;
    border-bottom: 2px solid gray;
   border-top: 2px solid gray;
}

.rodape {
    position: absolute;
    top: 250px;
    left: 180px;
    font-size: 11pt;
    font-family: verdana;
    font-style: italic;
    font-weight: bold;
    width: 309px;
    border-bottom: 1px solid gray;
}
