    .separator {
    height: 51px;
    background-color: red;
}

.jumbotron {
    margin: 0px;
    padding: 0px;
    height: 300px;
    background: transparent;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://tinyurl.com/y7zmdasd');
}

td {
    color: gray
}