table {border: solid; border-style: 1; width: 50%
}




#preto{ background-color: black; color:white;}
td{ width:60px; height:60px; text-align:center; font-size: 50px}



.#branco{ background-color: white; color:black;}
td{ width: 60px; height:60px; text-align: center; font-size: 200px}

