/*===========================
  Menu and Navigation
============================ */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navigation {
    background-color: #fff;
    padding: 0;
}

.navbar-brand h1 {
    margin-top: -1px;
    padding-top: 5px;
    float: left;
    font-size: 30px;
    color: #333;
}

    .navbar-brand h1 span {
        color: #5bc0de;
    }

.menu {
    font-size: 12px;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
}

    .menu ul.nav-tabs li {
        color: #000;
    }

.nav-tabs {
    border-bottom: 0;
}

    .nav-tabs > li {
        float: left;
        margin-bottom: 0;
    }

        .nav-tabs > li > a {
            border-radius: 0;
            color: #333;
            padding: 30px;
        }

            .nav-tabs > li > a:hover {
                color: cornflowerblue;
                border-color: #fff #fff #fff;
                border-radius: 0;
                background-color: #fff;
            }

            .nav-tabs > li > a.active {
                color: deepskyblue;
                border-radius: 0;
            }