<style>
.page-header{
    text-align: center;
}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h3{
    color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}
</style>
<section>
<br /><br />
<div class="container">
<div class="resume">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="container bs-callout bs-callout-danger">
        <h3>Random Movie: </h3>
        <button style="margin: 0 0 0 20%; border-radius: 3%" class="btn btn-md btn-primary">Random Movie</button>
    </div>
    <div class="container bs-callout bs-callout-danger">
        <h3>Random Actor: </h3>
        <button style="margin: 0 0 0 20%; border-radius: 3%" class="btn btn-md btn-primary">Random Actor</button>
    </div>
    <div class="container bs-callout bs-callout-danger">
        <h3>Random Director: </h3>
        <button style="margin: 0 0 0 20%; border-radius: 3%" class="btn btn-md btn-primary">Random Director</button>
    </div>
</div>
</div>
</div>
</div>
</section>
