.pos_1_1 {
    top: 295px;
    left: 200px;
}

.pos_3_1 {
    top: 260px;
    left: 396px;
}

.pos_3_2 {
    top: 260px;
    left: 365px;
}

.pos_3_3 {
    top: 260px;
    left: 298px;
}

.pos_3_4 {
    top: 260px;
    left: 255px;
}

.pos_3_5 {
    top: 260px;
    left: 200px;
}

.pos_3_6 {
    top: 260px;
    left: 145px;
}

.pos_3_7 {
    top: 260px;
    left: 102px;
}

.pos_3_8 {
    top: 260px;
    left: 35px;
}

.pos_3_9 {
    top: 260px;
    left: 4px;
}

.pos_5_3 {
    top: 195px;
    left: 298px;
}

.pos_5_4 {
    top: 195px;
    left: 255px;
}

.pos_5_5 {
    top: 195px;
    left: 200px;
}

.pos_5_6 {
    top: 195px;
    left: 145px;
}

.pos_5_7 {
    top: 195px;
    left: 102px;
}

.pos_6_3 {
    top: 155px;
    left: 298px;
}

.pos_6_4 {
    top: 155px;
    left: 255px;
}

.pos_6_5 {
    top: 155px;
    left: 200px;
}

.pos_6_6 {
    top: 155px;
    left: 145px;
}

.pos_6_7 {
    top: 155px;
    left: 102px;
}

.pos_7_1 {
    top: 125px;
    left: 396px;
}

.pos_7_2 {
    top: 125px;
    left: 365px;
}

.pos_7_3 {
    top: 125px;
    left: 298px;
}

.pos_7_4 {
    top: 125px;
    left: 255px;
}

.pos_7_5 {
    top: 125px;
    left: 200px;
}

.pos_7_6 {
    top: 125px;
    left: 145px;
}

.pos_7_7 {
    top: 125px;
    left: 102px;
}

.pos_7_8 {
    top: 125px;
    left: 35px;
}

.pos_7_9 {
    top: 125px;
    left: 4px;
}

.pos_8_1 {
    top: 95px;
    left: 396px;
}

.pos_8_2 {
    top: 95px;
    left: 365px;
}

.pos_8_3 {
    top: 95px;
    left: 298px;
}

.pos_8_4 {
    top: 95px;
    left: 255px;
}

.pos_8_5 {
    top: 95px;
    left: 200px;
}

.pos_8_6 {
    top: 95px;
    left: 145px;
}

.pos_8_7 {
    top: 95px;
    left: 102px;
}

.pos_8_8 {
    top: 95px;
    left: 35px;
}

.pos_8_9 {
    top: 95px;
    left: 4px;
}

.pos_9_4 {
    top: 60px;
    left: 255px;
}

.pos_9_5 {
    top: 60px;
    left: 200px;
}

.pos_9_6 {
    top: 60px;
    left: 145px;
}

.pos_10_3 {
    top: 30px;
    left: 298px;
}

.pos_10_4 {
    top: 30px;
    left: 255px;
}

.pos_10_5 {
    top: 30px;
    left: 200px;
}

.pos_10_6 {
    top: 30px;
    left: 145px;
}

.pos_10_7 {
    top: 30px;
    left: 102px;
}

.pos_11_4 {
    top: 20px;
    left: 255px;
}

.pos_11_5 {
    top: 20px;
    left: 200px;
}

.pos_11_6 {
    top: 20px;
    left: 145px; 