h2{
	color: black;
    text-align: center;
    background-color:white;
    border-style: solid;
    border-width: medium;
    border-radius: 20px;

}

#lol{
	margin-top: 100px;
    margin-left: 25%;
	text-align: center;
	background-color: black;
}

#puta{
	color: white;
}

