.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: auto;
    height: 20%;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
    margin: auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-left: 47%;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #5bc0de;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}body {
}
