.head	
    {
        font-family: 'Open Sans', sans-serif;
        background-color: #2e5779;
        color: white;
        padding: 10px;
        padding-left: 1%;
        margin: 0 0 0.2% 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

.up_menu
    {
        font-family: 'Open Sans', sans-serif;
        background-color: #2c729f;
        padding: 5px;
        padding-left: 1%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        word-spacing: 5px;
    }

a
    {
        color: white;
        text-decoration: none;
    }

a:hover
    {
        color: blue;
        text-decoration: underline;
    }

/*
a:visited
    {
        color: white;
    }
*/
.conteudo
    {
        font-family: 'Open Sans', sans-serif;
        float: left;
        padding: 0 0 1% 1%;
        min-width: 79%;
        max-width: 79%;

    }

.lateral
    {
        font-family: 'Open Sans', sans-serif;
        float: left;
        text-align: left;
        background-color: #428bca;
        padding: 3% 0 0 1%;
        min-width: 17%;
        min-height: 560px;
        margin: 0.2% 0 0.5% 2%;
        border-radius: 3px;
    }

.imagem
    {
        background-image: url('imagem1.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 200px;
        border-radius: 10px;
    }
.footer
    {
        font-family: 'Open Sans', sans-serif;
        clear: both;
        padding-left: 1%;
    }
