html {height:100%}
body {margin:0px}
dl {margin:3px 0px 3px 0px;}

.Boletim {
    background-color: black;
    line-height: 52px;
    width: 100%;
    color: yellow;
    text-align: center;
    font-size: x-large;
    border: 1px gray dotted;
}

.PersonalData {
    margin-top: 4px;
    padding: 0px;
}

dt {
    background-color: black;
    color: white;
    text-align:center;
    float: left;
    clear: left;
    width: 7%;
    height: 30px;
    border-bottom: 1px dotted gray;
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
}

/*andre.alves@ua.pt*/

dd {
    background-color: #f2f2f2;
    border-bottom: 1px dotted gray;
    height: 30px;
    border-right: 1px dotted gray;
}

input[type=text] {
    width: 55%;
    height: 90%;
    margin-left: 2px;
}

input[type=password] {
    width: 20%;
    height: 95%;
    margin-left: 2px;
}

.Discilpinas {
    background-color: black;
    height: 205px;
}

.semestre1 {
    float: left;
    width: 100%;
    background-color: #d9d9d9;
    height: 140px;
    padding: 0px;
    padding-bottom: 2px;
}

.semestre2 {
    float: left;
    width: 100%;
    background-color: #d9d9d9;
    padding: 0px;
    padding-bottom: 2px;
    height: 50px;
}