<section>
    <div style="height: 300px; float:right; width: 40%;">
        <img src="Content/images/fp.jpg" />
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-lg-8" style="margin-left: 5%; float: left; position:absolute; width: 60%">
            <p>&nbsp;</p>
            <p style="color:dimgrey; font-size: 40px; text-align: right; margin-top: 7%">Nesta aba apresentamos todas as informações relativas a cada autor</p>
    </div>
    <div class="container page-header" style="color:grey; float: left; margin-left: 1%; width: 60%"><h1><i class="fa fa-search"></i>    Autores</h1></div>
    <div class="container table-responsive col-xs-12 col-sm-6 col-lg-8" id="autores" style="font-size: large ; margin-left: 3%; color: black; float: left; width: 60%">
    </div>
</section>
