<section>
    <div class="container page-header" style="color:grey"><h1><i style="color:grey" class="fa fa-info-circle"></i>  Informações</h1></div>
    <div class="container">
        <div style="text-align:justify">
        <h2 style="color:grey">Tudo o que precisa de saber sobre a  &nbsp; <i class="fa fa-book"></i>  BOOKSHELF APP</h2>
        <p style="font-size: 20px"><i style="color:grey" class="fa fa-chevron-right"></i>  Esta aplicação móvel foi desenvolvida como projeto final de ITW</p>
        <p style="font-size: 20px"><i style="color:grey" class="fa fa-chevron-right"></i>  Tem como objetivo a procura rápida de informações de uma determinada base dados, estando relacionada com informações de livros (autores, vendas) </p>
        <p style="font-size: 20px"><i style="color:grey" class="fa fa-chevron-right"></i>  Poderá pesquisar as caraterísticas de um determinado livro através do seu titulo</p>
        <p style="font-size: 20px"><i style="color:grey" class="fa fa-chevron-right"></i>  Sabendo o nome de um autor, poderá aceder a todas as suas informações dispovíveis na base de dados bem como o número de vendas dos seus livros</p>
        <p style="font-size: 20px"><i style="color:grey" class="fa fa-chevron-right"></i>  Terá acesso as todas a vendas de todos os livros disponíveis</p>
    </div>
    <div class="container" style="margin-left: 40%; margin-top: 3%">
        <p> </p>
        <a class="btn btn-lg btn-primary" href="#welcome" style="font-size: x-large">Descubra já &nbsp;<i class="fa fa-angle-right"></i></a></div>
    
        <img style="margin: auto; float: left" src='Content/images/info.jpg' />

    </div>
</section>
