<section>
    <div class=" container" style="position:relative; float: left; width: 20%; margin-left: 3%">
        <img src="Content/images/livro.jpg" />
    </div>
    <div class="page-header container col-xs-12 col-sm-6 col-lg-8" style="position:relative; float: left; margin-top: 7%; color:grey; width: 74%; margin-right: 3%"><h1><i class="glyphicon glyphicon-search"></i>   Pesquisa por títulos</h1></div>
    <div class=" container" style="position: relative; margin-top: 3%">
        <center>
            <select onChange="autor()" class="selectpicker container" data-style="btn-inverse" style="width: 60%; font-size:x-large" id="dat"></select>
        </center>
    </div>
    <div id="tabcontent" class="tab-content container" style="margin-top: 5%">
        <div class="tab-pane fade in active" id="tab-1">
        </div>
    </div>
</section>